#content {
  max-width: none;
  width: 75vmin;
  left: 0;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
  #content #logo-forum {
    margin-left: 2vmin;
    width: 30vmin;
    text-align: left; }

.bottom-left {
  color: white;
  width: auto;
  margin-bottom: 2.5em; }
  .bottom-left h1 {
    font-size: 250% !important;
    margin: 1em 0 !important; }
  .bottom-left h3 {
    margin-top: 1em;
    margin-bottom: 0; }
  .bottom-left h4 {
    font-size: 150% !important;
    margin-bottom: 0;
    margin-top: 2.5em; }
  .bottom-left .company {
    padding-left: 1.5em; }
    .bottom-left .company:before {
      content: '';
      position: absolute;
      left: 0;
      width: 1em;
      height: 1em;
      background: url(../../../../../shared/images/icon-company.svg);
      background-size: contain;
      background-repeat: no-repeat; }
  .bottom-left .location {
    padding-left: 1.5em; }
    .bottom-left .location:before {
      content: '';
      position: absolute;
      left: 0;
      width: 1em;
      height: 1em;
      background: url(../../../../../shared/images/icon-pin.svg);
      background-size: contain;
      background-repeat: no-repeat; }
