#content {
  max-width: none;
  width: calc(100vw - 10vmin);
  left: 0;
  top: 0;
  transform: none;

  h1 {
    font-size: 300% !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
  }

  .speaker {
    font-size: 75% !important;
  }

  h4 {
    font-size: 200% !important;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }

  #logo-forum {
    margin-left: 2vmin;
    width: 30vmin;
    text-align: left;
  }
}