@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

// use it
@include selection {
  color: white;
  background: $color-shade;
  text-shadow: 0;
}

html, body {
  height: 100%;
}

html {
  background-color: whitesmoke;
  color:darken($color-shade,20%);
}

body {
  background-color: whitesmoke;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  text-align: center;
}

@media screen and (min-width:80em){
  html, :root {
    font-size: 1.125em; line-height: 1.5em;
  }
  .header .rh-logo {
    width: 25%;
    height: 20%;
  }
}

@media screen and (min-width:100em){
  html, :root {
    font-size:1.5em;
    line-height: 1.5em;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

.icon-only {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: 9999em;
  width: $line-height; height: $line-height;
  line-height: $line-height;
  white-space: nowrap;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 50%; left: 50%;
    text-indent: 0;
    text-align: center;
    margin: -#{$line-height / 2};
    width: $line-height;
    height: $line-height;
    line-height: $line-height;
  }
}

body {
  letter-spacing:.0666666;
  font-weight: 300;
  margin: 0;
  position: relative;

  a {
    font-weight:  normal
  }
}

.nav-menu {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  outline: none;
}

h4, h5, h6 {
  &, &:first-child {
    margin-bottom: 0;
  }

  & + * {
    margin-top: 0;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .container {
    position: relative;
  }

  .wrapper { height: 100%; }
}

.page-title {
  font-size: 2.25em;
  line-height: 1.2em;
}

.scroll-anchor {
  display: block;
  position: relative;
  top: -6em;

  & + h1, & + h2 { margin-top: 0; }
}

.highlight {
  background: #eee;
  color: #555;
  border-color: #bbb;

  + tr { border-color: #bbb; }
}

.container {
  table th, table td {
    padding: 1em 1em;
  }
}


button.full-width {
  display: block;
  width: 100%;
  margin: 0 0 $line-height;
  text-transform: uppercase;
  letter-spacing: .13333em;

  &.active {
    background-color: #444;
  }
}

.big-number {
  font-size: 3em;
  line-height: 1.25em;
  margin-bottom: $line-height / 3;
}

.promo-box {
  padding: 1em;
  background-color: $white;
  margin-bottom: $line-height;
  border-bottom: 0.5em solid $gray-dark;

  .promo-box-title {
    font-size: 1em;
    margin: -1em -1em 1em;
    padding: 1em;
    background-color: $color-primary;
    color: $white;

    h1, h2, h3 {
      margin-bottom: 0;
    }
  }

  .promo-box-footer {
    margin: 0 -1em -1em;
    padding: 1em;
    border-top: 1px solid $gray-light;

    .button {
      margin-right: 0.5em;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.light-grey-background {
  background-color: rgba(255,255,255,0.85);
}

.custom-background {
  background-position: top 50%;
  background-size: cover;
  background-attachment: fixed;
  color: $white;

  .container {
    background-color: rgba($black, 0.75);
  }
}

@media screen and (min-width: $breakpoint-small) {
  .section-layout-two-columns {
    column-count: 2;
    column-gap: 2.4em;
  }
}

section.blank,
section.light,
section.dark,
section.grey { position:relative }

section.light .container,
section.dark .container,
section.grey .container {
  position:relative;
  z-index:2;
}

section.blank:before {
  display:none
}
section.light:before,
section.dark:before,
section.grey:before {
  content:"";
  display:block;
  height:100%;
  width: 100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:.75
}

section.blank .container,
section.light .container { background-color:transparent; color:#000; }
section.dark .container { background-color:transparent; color:#fff;}
section.grey .container { background-color:transparent; color:#fff;}

section.blank {
  background-color: transparent;
  background-image: none;
}

section.light:before { background-color: white; opacity:.9}
section.dark:before { background-color: black ;}
section.grey:before { background-color: #5e6a71 ;opacity:.9}

.main h1:before {
  content:"";
  display:block;
  margin:.5em auto;
  position: relative;
  left: 50%;
  margin-left: -1.6em;
  width: 3em;
  height:2px;
  background-color:#c00;
}

.main h1 {
  text-align: center;
  font-size: 1.2em;
  font-size: 4vw;
  margin-bottom: 3rem;
  letter-spacing: 0.125em;
  line-height: 1.1em;
  padding-left: 0.25em;
}

.main h1,.main h2,.main h3 {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.platinum,
.background-image {
  .sko-logo .logotext, .sko-logo .location {
    fill: white;
  }
}

.custom-background a {
  background-color: transparent;
  color: white;
  display: inline;
  padding: 0;
  margin: 0;
  border-bottom: 0.25em solid #c00;
}

.custom-background.light a, .custom-background.blank a {
  color: #282c2e;
}

.custom-background a:hover {
  color: #c00;
}

.platinum .logotext, .platinum text{
  fill: #fff;
}




