.nav-toggle { display: none; }

.nav-menu {
  background: white;
  position: fixed;
  z-index: 5;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;

    a {
      padding: 1.5em .5em;
      text-transform: uppercase;
      display: block;
      color: $gray;
      font-weight: 700;
      font-size: .85em;

      &:hover { color: $color-primary; }
    }

    &.active a { background-color: $color-primary; color:white; }

    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      z-index: 10;

      li {
        display: block;

        a {
          text-transform: none;
        }
      }
    }
  }
}

.nav-menu,
.nav-toggle {
  transition: all 0.3s ease;
}

.nav-toggle.active { left: auto; right: 0; }
.nav-toggle:hover { border-radius: 0; background-color:#c00; }
.nav-toggle:hover > span,
.nav-toggle:hover > span::before, .nav-toggle:hover > span::after{background-color: white;}
.custom-background a {
  background-color: #c00 !important;
  color:white !important;
  display:inline-block;
  padding: .3333em .66666em;
  margin: 0 .25em;
}

@media screen and (min-width: $breakpoint-medium) {
  .nav-menu {
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 .3em .2em -.3em rgba($black, 0.3);
  }
}


@media screen and (max-width: $breakpoint-medium) {
  .nav-menu { position: fixed; }
  .nav-toggle {
    display: block;
    background-color: transparent;
    &.active { background-color: rgba($white, 0.5); }
    &:hover {
      background-color: rgba($white, 0.75);
    }
  }
  .nav-toggle-overlay {
    @include animatableHide;
    width: 100%;
    height: 100%;
    background: rgba(black, .5);
    opacity: 0;
    transition: opacity .5s ease;
  }

  .menu-push-toright {
    overflow: hidden;

    .nav-toggle-overlay {
      top: 0;
      left: 0;
      visibility: visible;
      opacity: 1;
    }
  }

  .menu-push-toright .nav-toggle {
    left: $vertical-nav-width;

    @media screen and (max-width: $breakpoint-small) {
      left: 100%;
      margin-left: -3.5em;
    }
  }
}

.darknav .nav-menu { background-color: rgba(40,50,55,.9); }
.darknav .nav-menu a.menu-link{color: white}
.nav-toggle:hover{background-color: black;}


