.circle {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  border: 0px solid #fff;
  transition: all 0.5s ease;
}

.circle:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
