---
width: 100%;
height: 100vh;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="<%= baseUrl %>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/templates/generic-resizeable/assets/stylesheets/main.css" />

    <style type="text/css">
      body { 
        background-color: rgb({{artwork-background}});
        background-image: url({{{artwork-image}}}); 
      }
      .canvas-overlay { color: rgb({{artwork-background}}); }
    </style>
    
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js"></script>
  </head>
  <body
    style="width: 100%; height: 100vh"
    class="{{colormode}}">
    
    <div class="canvas-overlay"></div>
    
    <div id="content">
      <h3 class="content-title">{{content-title}}</h3>
      <h4 class="content-text">{{{content-text}}}</h4>
    </div>

    <div class="bottom-left">
      <img src="<%= baseUrl %>/shared/images/forum-logo.svg" id="logo-forum"/>
    </div>
    
    <div class="bottom-right">
      <img src="<%= baseUrl %>/shared/images/rh-logo.svg" id="logo-rh"/>
    </div>
  </body>
</html>
