#content {
  width: 75vmin;

  h1 {

  }
}

@media screen and (min-aspect-ratio: 2/3) {
  .bottom-left {
    width: calc(100vw - 40vmin);
    bottom: 3vmin;

    h2 {
      font-size: 3vw !important;
    }
  }
}