@import "../../../../../node_modules/red-hat-brand-typography/scss/red-hat-typography";   
@import "../../../../../node_modules/red-hat-brand-palette/scss/red-hat-palette";

#content {
  padding: 1.5em 3em 2em 2.5em;
//  border: solid white 6px;

  h1 {
    font-size: 8vw;
    text-align: center;
    font-size: 12vmin !important;
  }
}