::-moz-selection {
  color: white;
  background: #576065;
  text-shadow: 0; }

::selection {
  color: white;
  background: #576065;
  text-shadow: 0; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Overpass';
  font-size: 12pt;
  background: white; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.5em; }

h1 {
  font-size: 36pt;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-size: 18pt;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

h3 {
  font-size: 18pt;
  font-weight: 700; }

h4 {
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase; }

h5 {
  font-size: 12pt;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

h6 {
  font-size: 12pt;
  font-weight: 700; }

p {
  line-height: 1.5em; }

ul {
  list-style: none;
  padding: 0; }

section {
  padding: 4em 0; }
  section:nth-child(2n) {
    background: #f6f6f6; }
  section > .inner-container > *:first-child {
    margin-top: 0; }
  section > .inner-container > *:last-child {
    margin-bottom: 0; }

.inner-container {
  width: 100vw;
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.logo-forum {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); }

.clearfix {
  overflow: auto; }

.hero {
  margin: 0;
  height: calc(100vh - 18em);
  min-height: 24em;
  max-height: 48em;
  position: relative;
  overflow: hidden;
  background: #171717; }
  .hero > * {
    transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 48em) {
    .hero:hover > * {
      opacity: 0.75; }
    .hero:hover .hero-content {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) translateY(0);
      -ms-transform: translate(-50%, -50%) translateY(0);
      transform: translate(-50%, -50%) translateY(0); }
      .hero:hover .hero-content .hero-reveal {
        opacity: 1; }
 }
  @media screen and (max-width: 48em) {
    .hero .hero-content {
      -webkit-transform: translate(-50%, -50%) translateY(0) !important;
      -ms-transform: translate(-50%, -50%) translateY(0) !important;
      transform: translate(-50%, -50%) translateY(0) !important; }
      .hero .hero-content .hero-reveal {
        opacity: 1 !important; }
 }
  .hero canvas, .hero .canvas-overlay {
    height: 100% !important;
    width: 100% !important; }
  .hero .hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateY(5em);
    -ms-transform: translate(-50%, -50%) translateY(5em);
    transform: translate(-50%, -50%) translateY(5em);
    z-index: 100;
    text-align: center;
    color: white; }
    .hero .hero-content .logo-forum {
      width: 60%; }
    .hero .hero-content .hero-reveal {
      opacity: 0;
      transition: all 0.3s ease-in-out; }

.nav {
  width: 100vw;
  background: white;
  border-bottom: 1px solid #d6d6d6; }
  .nav.sticky-nav {
    position: fixed;
    top: 0; }
    .nav.sticky-nav .nav-logo {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1; }
  .nav .nav-logo {
    display: inline-block;
    height: 5em;
    padding: 1em 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; }
    .nav .nav-logo img {
      padding: 0 1em;
      height: 100%;
      border-right: 1px solid #d6d6d6; }
      .nav .nav-logo img:last-child {
        border: none; }
  .nav ul.nav-list {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1.8em 0;
    text-align: right; }
    .nav ul.nav-list li {
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 1em; }
      .nav ul.nav-list li.active a {
        border-bottom: 2px solid #171717; }
    .nav ul.nav-list a {
      padding: 0.2em 0; }
    @media screen and (max-width: 48em) {
      .nav ul.nav-list {
        display: none; } }

.footer {
  padding: 2em 0;
  background: #171717;
  color: white; }
  .footer a {
    color: white; }
  .footer ul {
    display: inline-block;
    vertical-align: middle; }
  .footer ul.footer-links li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.7em;
    margin-right: 0.5em;
    border-right: 1px solid; }
    .footer ul.footer-links li:last-child {
      padding-right: 0.7em;
      margin-right: 0.5em;
      border-right: none; }
  .footer ul.footer-social {
    float: right; }
    .footer ul.footer-social li {
      display: inline-block;
      width: 1em;
      height: 1em;
      text-align: center;
      padding: 0 0.5em; }
      .footer ul.footer-social li img {
        height: 100%; }
    @media screen and (min-width: 48em) {
      .footer ul.footer-social:hover > li {
        opacity: 0.2; }

      .footer ul.footer-social li {
        transition: opacity 0.2s ease-in-out; }
        .footer ul.footer-social li:hover {
          opacity: 1; }
 }

a {
  color: #c12;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease; }
  a:hover {
    color: #c12; }
  a:active {
    color: #c12; }

ul.nav-list a {
  color: #171717; }
  ul.nav-list a:hover {
    color: #c12;
    border-bottom: 2px solid #c12 !important; }
  ul.nav-list a:active {
    color: #171717; }
