.hero-countdown {
  margin-top: 5em;

  .flip-clock-wrapper {
    font-size: 0.5em;
  }
}
.hero .flip-clock-label { color: $color-rh-white; }
.hero ul.nav { margin-top: 1.5em; }

.hero .flip-clock-wrapper ul li a div div.inn { background-color: darken($color-rh-purple, 20%);  }
.hero .theme-red .flip-clock-wrapper ul li a div div.inn { background-color: darken($color-rh-red, 20%); }

.countdown-section .hero-countdown { margin-top: 0; }
.countdown-section .hero-countdown .flip-clock-wrapper { padding-top: 1.5em; }

.countdown-section .flip-clock-divider .flip-clock-label {
  text-transform: uppercase;
}

.countdown-section .flip-clock-wrapper ul li a div div.inn {
  background-color: $color-rh-white;
}

.countdown-section .flip-clock-divider .flip-clock-label,
.flip-clock-wrapper ul li a div div.inn {
  color: #646464;
}

@media screen and (min-width: $max-width) {
  .hero-countdown .flip-clock-wrapper { font-size: 1em }
}
