.hero-wrapper {
  background-color: $color-rh-purple;
  overflow: hidden;

  .logo-pair-lockup {
    font-size: 1.25em;
  }
}

.hero-text {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-shadow: 0 0 0.1em;

  h1 {
    margin-top: 0.5em;
    line-height: 1em;
  }

  &.container { padding: 0 0.8em; }
}

.hero-countdown         {
  margin-top: 5em;

  .flip-clock-wrapper {
    font-size: 0.5em;
  }
}
.hero .flip-clock-label { color: $color-rh-white; }
.hero ul.nav            { margin-top: 1.5em; }

#artwork-canvas {
  position:absolute;
  top: 0;
  left: 0;
  background-color: $color-rh-purple;
  background-image: radial-gradient(ellipse at center, $color-rh-purple 0%, darken($color-rh-purple, 10%) 54%, darken($color-rh-purple, 20%) 100%);
}

.theme-red {
  .hero-wrapper {
    background-color: $color-rh-red;
  }

  #artwork-canvas {
    background-color: $color-rh-red;
    background-image: radial-gradient(ellipse at center, $color-rh-red 0%, darken($color-rh-red, 10%) 54%, darken($color-rh-red, 20%) 100%);
  }
}

@media screen and (min-width: $max-width) {
  .hero-countdown .flip-clock-wrapper { font-size: 1em }
  .herp-text.container { padding: 0 1.5em; }
}
