#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5px;
  bottom: 0;
  z-index: 1;
}

#location {
  min-height: 16em;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.95);
    z-index: 2;
  }

  .container { z-index: 3; }
}
