@import url('https://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css');
* {
  margin: 0; }

* + * {
  margin-top: 1.5rem;
  margin-bottom: 0; }
  * + *:first-child {
    margin-top: 0; }

hr {
  background: none;
  border: none;
  border-bottom: thin solid; }

html, :root {
  text-rendering: geometricPrecision;
  font-size: 100%;
  font-family: 'Overpass', sans-serif;
  line-height: 1.5rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif; }

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.025em;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6 {
    margin-top: 0; }

h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: 0.05em;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6 {
    margin-top: 0; }

h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: normal;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6 {
    margin-top: 0; }

h4 {
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: normal;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6 {
    margin-top: 0; }

h5 {
  font-size: 0.667em;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: normal;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6 {
    margin-top: 0; }

h6 {
  font-size: 0.5em;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: normal;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
    margin-top: 0; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0; }

em, cite, i {
  font-style: italic; }

b, strong {
  font-weight: 700; }

small {
  font-size: 0.8em; }

s {
  font-style: strike-through; }

u {
  text-decoration: underline; }

q:before {
  content: '\0022'; }
q:after {
  content: '\0022'; }

abbr {
  cursor: help;
  border-bottom: 1px dotted; }

sub {
  font-size: 0.8em;
  position: relative;
  bottom: -0.25rem; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.375rem; }

mark {
  background-color: yellow; }

ins {
  background-color: lightgreen;
  text-decoration: none; }

del {
  background-color: lightcoral; }

mark, ins, del {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.05em; }

blockquote {
  font-size: 1.5em;
  line-height: 2.25rem;
  font-weight: 300;
  font-style: italic; }
  blockquote:before {
    content: '\0022'; }
  blockquote:after {
    content: '\0022'; }

blockquote + cite {
  display: block;
  margin-top: 0.75rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700; }
  blockquote + cite small {
    font-weight: 300; }

ul, ol {
  padding: 0; }

menu {
  list-style: none; }

ol li, ul li {
  list-style: none;
  display: block;
  position: relative;
  padding-left: 1.5em; }
  ol li:before, ul li:before {
    position: absolute;
    left: 0;
    line-height: 1.5rem;
    top: -0.08em;
    width: 1em;
    font-weight: bold; }
ol ol li:before, ul ol li:before {
  top: 0; }
ol li + li, ul li + li {
  margin-top: 0.75rem; }

ul li:before {
  content: "\2022"; }

ul ul li:before {
  content: '\2013'; }

ul ul ul li:before {
  content: '\00B7'; }

ol {
  list-style: decimal;
  counter-reset: toplevel; }
  ol li:before {
    content: counter(toplevel) ". ";
    counter-increment: toplevel; }
  ol ol {
    counter-reset: secondlevel; }
  ol ol li:before {
    font-weight: normal;
    content: counter(secondlevel) ". ";
    counter-increment: secondlevel; }
  ol ol ol {
    counter-reset: thirdlevel; }
  ol ol ol li:before {
    content: counter(thirdlevel) ". ";
    counter-increment: thirdlevel; }

dl dt {
  font-weight: 700; }

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0 0 1.5rem;
  border: thin solid; }
  table caption, table th, table td {
    vertical-align: top;
    padding: 0.75rem; }
  table caption {
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase; }
  table th {
    font-weight: 700; }
  table thead tr {
    background-color: whitesmoke; }
  table tbody tr {
    border-top: thin solid; }
    table tbody tr th {
      font-weight: 700; }
  table tfoot {
    color: lightgrey; }
    table tfoot tr {
      border-top: thin solid; }

pre, code, var, samp, kbd {
  font-family: 'Dejavu Mono', monospace; }

pre {
  padding: 0.75rem;
  color: white;
  background-color: dimgrey; }

/*\/\/\/\/\/\\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

               NATIVE ELEMENTS

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
html, body {
  height: 100%; }

html {
  font-family: "Overpass", sans-serif; }

body {
  background: white;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #646464; }

.newsletter .container {
  max-width: 900px; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  padding: 0 2em; }

.content-small > * {
  font-size: 0.75em; }

img {
  display: block; }

/*\/\/\/\/\/\\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

                   LAYOUT

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
header[role="banner"] {
  margin: 0;
  padding: 4em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

section {
  padding: 3em 0;
  margin: 0; }

section:nth-child(odd) {
  background-color: whitesmoke; }

footer {
  margin: 0; }

.newsletter .hero {
  padding: 0; }

.hero .button {
  display: inline-block; }

.hero h3 {
  color: white; }

.button {
  background: #c00;
  text-transform: uppercase;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 600; }

.footer {
  background: #111;
  color: rgba(255, 255, 255, 0.72);
  padding: 3em 0; }

.section img {
  width: 100%; }

.footer a {
  color: inherit; }

.social-links {
  text-align: right; }
  .social-links img {
    display: initial; }

.clear {
  clear: both; }

/*\/\/\/\/\/\\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

              LAYOUT :: GRID

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
@media screen and (min-width: 560px) {
  .grid-container {
    margin-left: -1em;
    margin-right: -1em; }
    .grid-container.tight {
      margin-left: -0.5em;
      margin-right: -0.5em; }
    .grid-container:before, .grid-container:after {
      content: '';
      clear: both;
      display: table; }

  .grid-item {
    padding: 1em;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tight .grid-item {
    padding: 0.5em; }

  .grid-item + .grid-item {
    margin: 0; }

  .one-half {
    float: left;
    width: 50%; }

  .one-third {
    float: left;
    width: 33.333%; }

  .one-quarter {
    float: left;
    width: 25%; }

  .two-thirds {
    float: left;
    width: 66.667%; }

  .body-section-feature-image + .body-section-content, .featured-article-feature-image + .featured-article-content {
    float: left; }

  .body-section-feature-image + .body-section-content, .featured-article-feature-image + .featured-article-content {
    width: 66.667%; }

  .body-section-feature-image, .featured-article-feature-image {
    width: 33.333%; }

  .feature-image-layout-third .body-section-feature-image + .body-section-content, .feature-image-layout-third .feature-article-feature-image + .featured-article-content {
    width: 66.667%; }

  .feature-image-layout-third .body-section-feature-image, .feature-image-layout-third .feature-article-feature-image {
    width: 33.333%; }

  .feature-image-layout-half .body-section-feature-image + .body-section-content, .feature-image-layout-half .feature-article-feature-image + .featured-article-content {
    width: 50%; }

  .feature-image-layout-half .body-section-feature-image, .feature-image-layout-half .feature-article-feature-image {
    width: 50%; }

  .body-section:nth-child(odd) .body-section-feature-image, .body-section:nth-child(odd) .featured-article-feature-image, .featured-article:nth-child(odd) .body-section-feature-image, .featured-article:nth-child(odd) .featured-article-feature-image {
    float: right; }

  .body-section:nth-child(even) .body-section-feature-image, .body-section:nth-child(even) .featured-article-feature-image, .featured-article:nth-child(even) .body-section-feature-image, .featured-article:nth-child(even) .featured-article-feature-image {
    float: left; }
 }

/*\/\/\/\/\/\\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

                  ASSETS

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.logo-rh {
  height: 3.5em;
  width: 11em;
  background-image: url(../../../../assets/images/logos/rh-logo.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.logo-event {
  height: 4.5em;
  background-repeat: no-repeat;
  background-size: contain; }

.logo-rh-forum {
  width: 12em;
  background-image: url(../../../../assets/images/logos/rh-forum-logo.svg); }

.logo-rh-forum-apac {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-apac-logo.svg); }

.logo-rh-forum-bangalore {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-bangalore-logo.svg); }

.logo-rh-forum-beijing {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-beijing-logo.svg); }

.logo-rh-forum-hong-kong {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-hong-kong-logo.svg); }

.logo-rh-forum-jakarta {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-jakarta-logo.svg); }

.logo-rh-forum-kuala-lumpur {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-kuala-lumpur-logo.svg); }

.logo-rh-forum-mumbai {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-mumbai-logo.svg); }

.logo-rh-forum-seoul {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-seoul-logo.svg); }

.logo-rh-forum-shenzhen {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-shenzhen-logo.svg); }

.logo-rh-forum-singapore {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-singapore-logo.svg); }

.logo-rh-forum-taipei {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-taipei-logo.svg); }

.logo-rh-forum-tokyo {
  width: 10.35em;
  background-image: url(../../../../assets/images/logos/rh-forum-tokyo-logo.svg); }

.logo-pair-lockup .logo-rh, .logo-pair-lockup .logo-event {
  display: inline-block;
  vertical-align: top; }
.logo-pair-lockup .logo-event {
  margin-right: 1.5em; }
.logo-pair-lockup .logo-rh {
  margin-top: 0; }

.social-links img {
  width: 1.5em; }

/*\/\/\/\/\/\\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

                GATED FORM

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
label + div.controls {
  margin-top: 0.5em; }

#GatedFormContainer img {
  display: initial; }

#GatedFormContainer .controls {
  position: relative; }

#GatedFormContainer .dropdown-arrow::after {
  top: 1.25em; }

#form-section {
  background: #f2f2f2; }

#GatedFormContainer {
  transition: opacity 0.5s ease-in-out; }

#GatedFormContainer section {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent; }

#GatedFormContainer form .form-group {
  margin: 0.75em 0;
  position: relative; }

#GatedFormContainer form label {
  font-weight: 300;
  font-size: 90%;
  line-height: 1.5em;
  color: #999;
  pointer-events: none;
  transition: all 0.35s ease-in-out; }

#GatedFormContainer form input, #GatedFormContainer form textarea, #GatedFormContainer form select, #GatedFormContainer form button {
  font-family: "Overpass", sans-serif;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 100%;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  padding: 1em 0.7em 0.7em 0.7em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: border 0.25s ease-in-out; }

#GatedFormContainer form input:focus, #GatedFormContainer form textarea:focus, #GatedFormContainer form select:focus, #GatedFormContainer form button:focus {
  outline: none;
  border-color: #c00 !important; }

#GatedFormContainer form input:-moz-focusring, #GatedFormContainer form textarea:-moz-focusring, #GatedFormContainer form select:-moz-focusring, #GatedFormContainer form button:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

#GatedFormContainer form input:hover:not(.disabled), #GatedFormContainer form textarea:hover:not(.disabled), #GatedFormContainer form select:hover:not(.disabled), #GatedFormContainer form button:hover:not(.disabled) {
  border-color: #8c8c8c; }

#GatedFormContainer form button {
  font-family: "Overpass", sans-serif !important;
  font-weight: 600;
  cursor: pointer;
  background: #c00 !important;
  height: auto;
  color: white;
  border-color: #b30000 !important;
  transition: all 0.25s ease-in-out; }

#GatedFormContainer form button:hover {
  background: #b30000 !important; }

#GatedFormContainer form .form-footer a {
  color: #c00; }

#GatedFormContainer form .form-footer a:hover {
  color: #b30000; }

#GatedFormContainer form textarea {
  resize: none; }

#GatedFormContainer form select[multiple] {
  height: auto;
  padding: 0.75em 1em;
  padding-bottom: 0; }

#GatedFormContainer form select[multiple] option:last-child {
  margin-bottom: 0; }

#GatedFormContainer form select[multiple] option {
  padding: 0.5em;
  margin: 0.25em 0;
  border-radius: 4px; }

#GatedFormContainer form .form-group.has-error label {
  color: #c00 !important; }

#GatedFormContainer form label.error {
  position: static; }

#GatedFormContainer form label.error:not(:first-child), #GatedFormContainer form h1, #DynamicFormThankYou .social-icons, #GatedFormContainer form .form-message, #GatedFormContainer form .rh-logo {
  display: none !important; }

#DynamicFormThankYou {
  margin-bottom: 1rem; }

#DynamicFormThankYou > .form-header > .form-group > .col-sm-12 > h2 {
  padding-left: 10px;
  padding-bottom: 20px; }

.dropdown-arrow:after {
  content: "";
  width: 0;
  height: 0;
  right: 24px;
  top: 2.5em;
  position: absolute;
  border-style: solid;
  border-width: 9px 6px 0px 6px;
  border-color: #999 transparent transparent transparent; }

#elqFrame ~ * {
  margin: 0; }

@media only screen and (min-width: 480px) {
  .form-group {
    margin-left: -1em;
    margin-right: -1em; }
    .form-group:after, .form-group:before {
      content: '';
      display: table;
      clear: both; }
    .form-group .dropdown-arrow:after {
      right: 32px; }
    .form-group > label {
      padding: 1em 0.7em 0.7em 0.7em; }
    .form-group .col-sm-2, .form-group .col-sm-10 {
      padding-left: 1em;
      padding-right: 1em;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin: 0; }
    .form-group .col-sm-2 {
      width: 25%;
      display: block;
      text-align: right; }
    .form-group .col-sm-10 {
      width: 75%; }
    .form-group .col-sm-offset-2 {
      margin-left: 25%; }
 }

@media only screen and (max-width: 560px) {
  #GatedFormContainer form {
    width: 100%;
    margin: 0 auto; }
 }

a.call-to-action {
  color: #ffffff !important;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  -webkit-text-size-adjust: none;
  background-color: #cc0000; }

/* required styles */
.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-marker-pane, .leaflet-map-pane, .leaflet-tile, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0; }

.leaflet-overlay-pane, .leaflet-objects-pane {
  margin: 0; }

.leaflet-overlay-pane svg {
  width: initial;
  height: initial; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon, .leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  -webkit-filter: inherit;
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
  transition: none; }

svg.leaflet-zoom-animated {
  -webkit-transform: translate(-10px, -20px) !important;
  -ms-transform: translate(-10px, -20px) !important;
  transform: translate(-10px, -20px) !important; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane, .leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container, .leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general toolbar styles */
.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:last-child {
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution, .leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white; }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before, .flip-clock-wrapper.sub-nav:before, .agenda-container .agenda-range-row > .flip-clock-wrapper.container:before, section:nth-child(even) .agenda-range-row > .flip-clock-wrapper.container:before, .flip-clock-wrapper.clearfix:after, .flip-clock-wrapper.sub-nav:after, .agenda-container .agenda-range-row > .flip-clock-wrapper.container:after, section:nth-child(even) .agenda-range-row > .flip-clock-wrapper.container:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after, .flip-clock-wrapper.sub-nav:after, .agenda-container .agenda-range-row > .flip-clock-wrapper.container:after, section:nth-child(even) .agenda-range-row > .flip-clock-wrapper.container:after {
  clear: both; }

.flip-clock-wrapper.clearfix, .flip-clock-wrapper.sub-nav, .agenda-container .agenda-range-row > .flip-clock-wrapper.container, section:nth-child(even) .agenda-range-row > .flip-clock-wrapper.container {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important; }

.flip-clock-meridium a {
  color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em; }

.flip-clock-wrapper:before, .flip-clock-wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.flip-clock-wrapper:after {
  clear: both; }

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 0.05em;
  width: 0.75em;
  height: 1.25em;
  line-height: 1.25em;
  font-size: 5em;
  font-weight: bold; }

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none !important; }

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
  border-radius: 0.05em; }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-radius: 0.05em; }

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ffffff;
  text-align: center;
  background-color: #0d001d; }

.theme-red .flip-clock-wrapper ul li a div div.inn {
  background-color: #660000; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 1.25em;
  height: 6.25em; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #ffffff;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  color: black;
  text-shadow: none;
  top: -2em;
  right: -7.75em;
  color: black;
  text-shadow: none;
  width: 7em; }

.flip-clock-dot.top {
  top: 33.333%; }

.flip-clock-dot.bottom {
  bottom: 33.333%; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

header[role="banner"] {
  position: relative;
  z-index: 5; }

#main-nav-fixed {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75em;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0; }
  #main-nav-fixed .logo-rh, #main-nav-fixed .logo-event {
    display: inline-block;
    vertical-align: top; }
  #main-nav-fixed .logo-pair-lockup {
    font-size: 0.6em;
    margin-top: 1.1em;
    margin-right: 3em; }
  #main-nav-fixed nav {
    display: none;
    position: absolute;
    top: 3.25em;
    margin: 0;
    left: 0;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.95); }

#main-nav-fixed nav.menu-show {
  display: block; }

@media screen and (min-width: 768px) {
  #main-nav-fixed {
    z-index: 4;
    height: 3.75em; }
    #main-nav-fixed .logo-pair-lockup {
      float: left; }
    #main-nav-fixed nav, #main-nav-fixed ul {
      display: inline-block;
      vertical-align: top; }
    #main-nav-fixed nav {
      position: static;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      background-color: transparent;
      font-size: 80%; }
      #main-nav-fixed nav a {
        padding-bottom: 1em; }
 }

body > section {
  position: relative;
  background-color: white;
  z-index: 3; }

#sub-nav-fixed {
  position: fixed;
  z-index: 2;
  top: 3.75em;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); }

body > section#agenda {
  z-index: 1; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
    line-height: 1em; }

  h2 {
    font-size: 1.5em;
    line-height: 1em; }

  h3 {
    font-size: 1em;
    line-height: 1.25em; }

  .container {
    padding-left: 1em;
    padding-right: 1em; }
 }

.clearfix, .sub-nav, .agenda-container .agenda-range-row > .container, section:nth-child(even) .agenda-range-row > .container {
  zoom: 1; }
  .clearfix:before, .sub-nav:before, .agenda-container .agenda-range-row > .container:before, section:nth-child(even) .agenda-range-row > .container:before, .clearfix:after, .sub-nav:after, .agenda-container .agenda-range-row > .container:after, section:nth-child(even) .agenda-range-row > .container:after {
    content: "";
    display: table; }
  .clearfix:after, .sub-nav:after, .agenda-container .agenda-range-row > .container:after, section:nth-child(even) .agenda-range-row > .container:after {
    clear: both; }

.absolute-full-height, .absolute-top-left, .absolute-top-right, .fixed-full-height, .fixed-top-left, .fixed-top-right {
  top: 0; }
  .absolute-full-height.inset-one, .absolute-top-left.inset-one, .absolute-top-right.inset-one, .fixed-full-height.inset-one, .fixed-top-left.inset-one, .fixed-top-right.inset-one {
    top: 0.75rem; }

.absolute-full-width, .absolute-top-right, .absolute-bottom-right, .fixed-full-width, .fixed-top-right, .fixed-bottom-right {
  right: 0; }
  .absolute-full-width.inset-one, .absolute-top-right.inset-one, .absolute-bottom-right.inset-one, .fixed-full-width.inset-one, .fixed-top-right.inset-one, .fixed-bottom-right.inset-one {
    right: 0.75rem; }

.absolute-full-height, .absolute-bottom-left, .absolute-bottom-right, .fixed-full-height, .fixed-bottom-left, .fixed-bottom-right {
  bottom: 0; }
  .absolute-full-height.inset-one, .absolute-bottom-left.inset-one, .absolute-bottom-right.inset-one, .fixed-full-height.inset-one, .fixed-bottom-left.inset-one, .fixed-bottom-right.inset-one {
    bottom: 0.75rem; }

.absolute-full-width, .absolute-bottom-left, .absolute-top-left, .fixed-full-width, .fixed-bottom-left, .fixed-top-left {
  left: 0; }

.fixed-center, .modal.open, .absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.absolute-full-height, .absolute-full-width, .absolute-top-left, .absolute-top-right, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }

.fixed-center, .modal.open, .fixed-full-height, .fixed-full-width, .fixed-top-left, .fixed-top-right, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }

.circle {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  border: 0px solid #fff;
  transition: all 0.5s ease; }

.circle:before {
  content: "";
  display: block;
  padding-bottom: 100%; }

.modal {
  visibility: hidden;
  position: fixed;
  left: -100%;
  margin: 0; }
  .modal.open {
    visibility: visible;
    z-index: 9999;
    background-color: white; }
    @media screen and (min-width: 768px) {
      .modal.open {
        min-height: 80%; }
        .modal.open.full-width {
          width: 768px; } }
    @media screen and (max-width: 768px) {
      .modal.open {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: 1rem;
        right: 1rem;
        top: 1rem;
        bottom: 1rem; } }
  .modal .modal-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.6em;
    margin: 0;
    font-size: 1em;
    width: 1.6em;
    height: 1.6em;
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%; }
    .modal .modal-close:before {
      content: "\2715";
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-indent: 0;
      line-height: 1em; }
  .modal .modal-header {
    padding: 1.5rem;
    background-color: white;
    position: relative;
    z-index: 10000; }
    .modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6 {
      margin: 0; }
  .modal .modal-content {
    padding: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 6.75rem 1.5rem;
    overflow-y: auto;
    background-color: #f2f2f2; }

.modal-overlay {
  visibility: hidden;
  position: fixed;
  left: -100%;
  z-index: 9998;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75); }
  .modal-overlay.open {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: visible; }

.modal-overlay {
  opacity: 0; }

.modal-overlay.open {
  opacity: 1; }

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

.menui {
  background: #fff;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 0.25em;
  right: 0.25em; }

@media screen and (min-width: 768px) {
  .icon {
    display: none; }
 }

#countdown {
  margin: 0; }
  #countdown ul li {
    padding-left: 0; }
  #countdown ul li:before {
    content: ''; }

.flip-clock-wrapper ul li a div .shadow {
  z-index: 5; }

.flip-clock-wrapper ul li a div .inn {
  z-index: 6; }

#countdown * + * {
  margin-top: 0; }

.nav-menu {
  padding: 0;
  margin: 0; }
  .nav-menu li {
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    margin: 0; }
    .nav-menu li:before {
      display: none; }
    .nav-menu li a {
      padding: 0.25em 0.5em 0;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      font-weight: 600;
      font-size: 1em;
      line-height: 3.5em;
      color: white; }
      .nav-menu li a:hover {
        box-shadow: inset 0 -0.25em 0 0 white; }
      .nav-menu li a.button {
        padding: 0.25em 0.75em 0; }
    .nav-menu li.active a {
      box-shadow: inset 0 -0.25em 0 0 white; }

#main-nav {
  display: none; }

@media screen and (min-width: 768px) {
  .nav-menu li {
    display: inline-block;
    vertical-align: top; }

  #main-nav {
    display: block; }
 }

.sub-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .sub-nav > li {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block; }
    .sub-nav > li:before {
      display: none; }
    .sub-nav > li > a {
      position: relative;
      display: block;
      padding: 0.25em 0.5em 0;
      color: #646464;
      line-height: 3.75em;
      text-decoration: none; }
      .sub-nav > li > a:hover, .sub-nav > li > a:focus {
        text-decoration: none;
        background-color: white; }
    .sub-nav > li.active a {
      box-shadow: inset 0 -0.25em 0 0 #646464; }
    .sub-nav > li.disabled > a:hover, .sub-nav > li.disabled > a:focus {
      text-decoration: none;
      background-color: whitesmoke; }

.hero-wrapper {
  background-color: #3B0083;
  overflow: hidden; }
  .hero-wrapper .logo-pair-lockup {
    font-size: 1.25em; }

.hero-text {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-shadow: 0 0 0.1em; }
  .hero-text h1 {
    margin-top: 0.5em;
    line-height: 1em; }
  .hero-text.container {
    padding: 0 0.8em; }

.hero-countdown {
  margin-top: 5em; }
  .hero-countdown .flip-clock-wrapper {
    font-size: 0.5em; }

.hero .flip-clock-label {
  color: #ffffff; }

.hero ul.nav {
  margin-top: 1.5em; }

#artwork-canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3B0083;
  background-image: radial-gradient(ellipse at center, #3B0083 0%, #240050 54%, #0d001d 100%); }

.theme-red .hero-wrapper {
  background-color: #cc0000; }
.theme-red #artwork-canvas {
  background-color: #cc0000;
  background-image: radial-gradient(ellipse at center, #cc0000 0%, #990000 54%, #660000 100%); }

@media screen and (min-width: 768px) {
  .hero-countdown .flip-clock-wrapper {
    font-size: 1em; }

  .hero-text.container {
    padding: 0 1.5em; }
 }

#sub-nav .container {
  background-color: white; }

.section-agenda {
  padding: 0; }

.agenda-container .agenda-day {
  margin: 0; }
.agenda-container .agenda-day-info h1, .agenda-container .agenda-day-info h2 {
  line-height: 1em; }
.agenda-container .agenda-day-info h1 {
  padding-top: 2.25em;
  margin-bottom: 0; }
.agenda-container .agenda-day-info h2 {
  margin-top: 0.25em;
  margin-bottom: 1.5em; }
.agenda-container .agenda-range-row {
  margin-top: 0; }
  .agenda-container .agenda-range-row > .container {
    background-color: rgba(255, 255, 255, 0.6); }
  .agenda-container .agenda-range-row:nth-child(odd) {
    background-color: #f0f0f0; }
  .agenda-container .agenda-range-row.break {
    background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 0.5em, transparent 0.5em, transparent 1em);
    color: #839098; }
.agenda-container .agenda-range-row-start-time {
  width: 33.333%;
  float: left;
  padding: 0.75rem 0;
  margin-bottom: 0;
  vertical-align: top;
  font-size: 1em;
  line-height: 1em;
  color: #5E6A71; }
.agenda-container .agenda-range-row-sesions-container {
  font-size: 0;
  margin: 0;
  float: left;
  width: 75%; }
.agenda-container .agenda-session {
  padding: 0.25rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0; }
  .agenda-container .agenda-session h1, .agenda-container .agenda-session h2, .agenda-container .agenda-session h3, .agenda-container .agenda-session h4, .agenda-container .agenda-session h5, .agenda-container .agenda-session h6 {
    text-transform: none; }
  .agenda-container .agenda-session a, .agenda-container .agenda-session a:visited {
    color: #111111; }
  .agenda-container .agenda-session a:hover {
    color: #b7bbba; }
.agenda-container .agenda-session-header-text {
  margin: 0; }
.agenda-container .agenda-session-content {
  margin-top: 0; }
.agenda-container .agenda-session-content-group {
  margin-top: 0; }
.agenda-container .agenda-range-row-sessions-2 .agenda-session, .agenda-container .agenda-range-row-sessions-3 .agenda-session, .agenda-container .agenda-range-row-sessions-4 .agenda-session, .agenda-container .agenda-range-row-sessions-5 .agenda-session, .agenda-container .agenda-range-row-sessions-6 .agenda-session, .agenda-container .agenda-range-row-sessions-7 .agenda-session, .agenda-container .agenda-range-row-sessions-8 .agenda-session, .agenda-container .agenda-range-row-sessions-9 .agenda-session, .agenda-container .agenda-range-row-sessions-10 .agenda-session, .agenda-container .agenda-range-row-sessions-11 .agenda-session, .agenda-container .agenda-range-row-sessions-12 .agenda-session {
  vertical-align: top;
  display: inline-block;
  width: 50%; }
.agenda-container .agenda-session-inner {
  padding: 0.5em;
  position: relative; }
.agenda-container .agenda-session-content-group {
  text-transform: uppercase; }
.agenda-container .two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

section:nth-child(even) .agenda-range-row:nth-child(odd) {
  background-color: #fafafa; }

section:nth-child(even) .agenda-range-row > .container {
  background-color: rgba(245, 245, 245, 0.5); }

.section-agenda [class^="icon-"], .section-agenda [class^="icon-"] {
  opacity: 0.4; }

@media screen and (max-width: 480px) {
  .agenda-container .agenda-range-row-sessions-2 .agenda-session, .agenda-container .agenda-range-row-sessions-3 .agenda-session, .agenda-container .agenda-range-row-sessions-4 .agenda-session, .agenda-container .agenda-range-row-sessions-5 .agenda-session, .agenda-container .agenda-range-row-sessions-6 .agenda-session, .agenda-container .agenda-range-row-sessions-7 .agenda-session, .agenda-container .agenda-range-row-sessions-8 .agenda-session, .agenda-container .agenda-range-row-sessions-9 .agenda-session, .agenda-container .agenda-range-row-sessions-10 .agenda-session, .agenda-container .agenda-range-row-sessions-11 .agenda-session, .agenda-container .agenda-range-row-sessions-12 .agenda-session {
    width: initial;
    display: block; }
 }

.agenda-container .agenda-session-inner.break {
  opacity: 0.75;
  font-weight: 300;
  line-height: 1em; }

.agenda-container .agenda-session-inner.break h3 {
  font-weight: 600;
  font-size: 0.8em;
  opacity: 1;
  color: currentcolor;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.agenda-container .agenda-range-row-start-time {
  width: 25%;
  min-width: 6em;
  color: currentcolor;
  opacity: 0.75; }
  .agenda-container .agenda-range-row-start-time h3 {
    display: inline-block;
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
    margin: 0; }
  .agenda-container .agenda-range-row-start-time span {
    font-weight: bold; }

.agenda-session-inner .agenda-session-content-location, .agenda-session-inner .agenda-session-header-speaker {
  float: none;
  clear: both;
  width: 100%;
  font-size: 0.75em; }

.agenda-range-row-sessions-6 {
  padding-bottom: 0.25em; }

.agenda-container .agenda-range-row-sessions-6 > div > .agenda-session {
  width: 33.33%; }

@media screen and (max-width: 480px) {
  .agenda-range-row div, .agenda-range-row {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    clear: both; }

  .agenda-container .agenda-range-row-start-time {
    padding-top: 1em;
    padding-left: 1em; }
    .agenda-container .agenda-range-row-start-time h3 {
      font-size: 2em; }

  .agenda-container .agenda-session {
    padding: 0.5rem; }

  .agenda-container .agenda-range-row-sessions-6 > div > .agenda-session {
    width: 100%; }

  .agenda-container .agenda-range-row-sessions-6 > div > .agenda-session {
    min-height: auto;
    width: 100%; }
 }

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5px;
  bottom: 0;
  z-index: 1; }

#location {
  min-height: 16em; }
  #location:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2; }
  #location .container {
    z-index: 3; }

.speaker-link {
  text-decoration: none;
  text-align: center;
  color: #8f9694; }
  .speaker-link h4 {
    margin-top: 1em; }
  .speaker-link:hover {
    color: #111111; }

.speaker-avatar {
  background-color: #D1D4D3; }
  .speaker-avatar.blank {
    background-image: url(../../../../assets/images/icons/blank-avatar.svg) !important;
    background-size: 100% auto;
    background-position: 50% 100%;
    background-repeat: no-repeat; }

body.noscroll {
  overflow: hidden; }
