---
width: 90mm;
height: 140mm;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="<%= baseUrl %>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/templates/speaker/lanyard/assets/stylesheets/main.css" />

    <style type="text/css">
      canvas { background: rgb({{ artwork-background }}); }
      .canvas-overlay { background-image: radial-gradient( ellipse closest-side at center, rgba({{ artwork-background }},0) 0%, rgba({{ artwork-background }},1) 100% ); }
    </style>
    
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js"></script>
  </head>
  <body
    style="width: 90mm; height: 140mm"
    class="">
    
    <canvas class="stats-hidden"></canvas>
    <div class="canvas-overlay"></div>
    
    <div id="content">
      <p><img id="logo-forum" src="<%= baseUrl %>/shared/images/forum-logo.svg" /></p>
    </div>
    
    <div class="bottom-left">
      <h1 class="name">{{speaker-name}}</h1>
      <h3 class="speaker">SPEAKER</h3>
      <p class="divider-after"></p>
      <h4 class="position">{{speaker-position}}</h4>
      <h3 class="company">{{speaker-company}}</h3>
      <h3 class="location">{{speaker-location}}</h3>
    </div>
    
    <script type="text/javascript">
      window.artworkColor = { {{ artwork-color }} };
      window.artworkZoom = {{ artwork-zoom }};
    </script>
    
    <script type="text/javascript" src="<%= baseUrl %>/shared/javascripts/artwork.js"></script>
  </body>
</html>
