---
width: 56.515mm
height: 89.027mm
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="<%= baseUrl %>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/templates/speaker/key-card/assets/stylesheets/main.css" />

    <style type="text/css">
      body { background: rgb({{ artwork-background }}); }
      canvas { background: rgb({{ artwork-background }}); }
      .canvas-overlay { background: none; box-shadow: inset 0px 0px 20vw 15vw rgb({{artwork-background}}) }
    </style>
    
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js"></script>
  </head>
  <body
    style="width: 56.515mm; height: 89.027mm"
    class="">
    
    <canvas class="stats-hidden"></canvas>
    <div class="canvas-overlay"></div>
    
    <div id="content">
      <p><img id="logo-forum" src="<%= baseUrl %>/shared/images/forum-logo.svg" /></p>
      <h1 class="name">{{speaker-name}}</h1>
      <h4 class="position">{{speaker-position}}</h4>
      <h3 class="company">{{speaker-company}}</h3>
    </div>
    
    <div class="bottom-left">
      <h3 class="speaker">SPEAKER</h3>
    </div>
    
    <div class="bottom-right">
      <img src="<%= baseUrl %>/shared/images/rh-logo.svg" id="logo-rh">
    </div>
    
    <script type="text/javascript">
      window.artworkColor = { {{ artwork-color }} };
      window.artworkZoom = {{ artwork-zoom }};
    </script>
    
    <script type="text/javascript" src="<%= baseUrl %>/shared/javascripts/artwork.js"></script>
  </body>
</html>
