.agenda-smaller {
  font-size: 0.75em;
  line-height: 2em;
}

.agenda-container {
  height: 100%;

  * { margin: 0; }
  > * { margin-bottom: 0.25em; }

  .agenda-day-info {
    font-size: 1.5em;

    h1, h2 { line-height: 1em; }

    h1 {
      padding-top: 1.5rem;
      margin-top: 1.5rem;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }

  .agenda-logo {
    .sko-logo {
      width: 33.333%;
    }
  }

  .agenda-range-row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .agenda-range-row-start-time {
    width: 4.75em;
    padding: 0.75rem 0.5rem 0.75rem 0;
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 1em;
    line-height: 1em;
  }

  .agenda-range-row-sesions-container {
    font-size: 0;
    display: table-cell;
    vertical-align: top;
  }

  .agenda-session {
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 1rem;

    h1, h2, h3, h4, h5, h6 {
      text-transform: none;
    }
  }

  .agenda-range-row-sessions-2,
  .agenda-range-row-sessions-3,
  .agenda-range-row-sessions-4,
  .agenda-range-row-sessions-5,
  .agenda-range-row-sessions-6,
  .agenda-range-row-sessions-7,
  .agenda-range-row-sessions-8,
  .agenda-range-row-sessions-9,
  .agenda-range-row-sessions-10,
  .agenda-range-row-sessions-11,
  .agenda-range-row-sessions-12 {
    .agenda-session {
      vertical-align: top;
      display: inline-block;
      width: 50%;
    }
  }

  .agenda-session-inner {
    background-color: lighten($color-rh-slate, 55%);
    padding: 0.25rem 0.5em;
    position: relative;
    min-height: 1.5em;

    &.break {
      background-image: url('/shared/images/stripes.svg');
      background-size: auto auto;
      background-position: 0 0;
      color: lighten($color-rh-slate, 15%);
    }
  }

  .agenda-session-content-location {
    @extend .agenda-smaller;
  }

  .agenda-session-content-group {
    text-transform: uppercase;
    @extend .agenda-smaller;
  }

  .agenda-session-header-text + .agenda-session-header-speaker {
    @extend .agenda-smaller;
  }

  &.two-column {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;

    > * {
      flex: 0 0 auto;
      width: 50%;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }
}

.for-emea-true .agenda-container .agenda-logo .sko-logo {
  width: 66.667%;
}

.red {
  color: $color-rh-white;

  .agenda-session-inner, .agenda-session-inner h3 { color: $color-rh-black; }
  h2 { color: $color-rh-white; }
}

.silver {
  color: lighten($color-rh-black, 33%);
}
