<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatForumTemplates/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatForumTemplates/templates/generic-resizeable/assets/stylesheets/main.css" />

    <style type="text/css">
      body { 
        background-color: rgb({{artwork-background}});
        background-image: url({{{artwork-image}}}); 
      }
      .canvas-overlay { color: rgb({{artwork-background}}); }
    </style>
    
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js"></script>
  </head>
  <body
    style="width: 100%; height: 100vh"
    class="{{colormode}}">
    
    <div class="canvas-overlay"></div>
    
    <div id="content">
      <h3 class="content-title">Title tattle</h3>
      <h4 class="content-text">This is some text and here is some more text. and moooore lorem ipsum dollas</h4>
    </div>

    <div class="bottom-left">
      <img src="//redhatbrand.github.io/RedHatForumTemplates/shared/images/forum-logo.svg" id="logo-forum"/>
    </div>
    
    <div class="bottom-right">
      <img src="//redhatbrand.github.io/RedHatForumTemplates/shared/images/rh-logo.svg" id="logo-rh"/>
    </div>
  </body>
</html>
