#content {
  h1 {
    font-size: 27vw !important;
    line-height: .6em !important;
    white-space: nowrap;
  }

  h4 {
    font-size: 150% !important;
    margin-left: .8em;
    margin-bottom: 2em;
  }

  #logo-forum {
    width: 50%;
    margin-left: 0;
    transform: none;
  }
}

.bottom-right {
  width: 15vmin;
}