@import "../../../../../../node_modules/red-hat-brand-typography/scss/red-hat-typography";   
@import "../../../../../../node_modules/red-hat-brand-palette/scss/red-hat-palette";

#content {
  color: white;
  max-width: none;
  width: 75vmin;
  left: 0;
  top: 0;
  transform: none;

  #logo-forum {
    margin-left: 2vmin;
    width: 50vmin;
    text-align: left;
  }

  h1 {
    font-size: 200% !important;
    margin: .25em 0 !important;
  }

  h4 {
    font-size: 100% !important;
    margin-bottom: .5em;
  }
}

.bottom-left {
  width: auto;
  .speaker {
    padding: .7em 1em .5em 1em;
  }
}