---
width: 100%
height: 100vh
---

<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8' />
<title>{{ headline }}</title>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
<meta content='initial-scale=1.0' name='viewport' />
<meta content='Red Hat' name='author' />
<meta content='{{ meta-description }}' name='description' />
<meta content='{{ meta-keywords }}' name='keywords' />
<link href='//red-hat-assets.s3.amazonaws.com/assets/images/favicon.ico' rel='icon' type='image/ico' />
<link href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' media='screen' rel='stylesheet' />
<link href='<%= baseUrl %>/templates/infosite/stylesheets/main.css' media='screen' rel='stylesheet' />
<link href='//red-hat-overpass-fonts.s3.amazonaws.com/overpass.css' rel='stylesheet' />
<script src='//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js'></script>
<script src='//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.fitvids.js'></script>
<script src='<%= baseUrl %>/templates/infosite/javascripts/scrollspy.js'></script>
<script src='//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.smooth-scroll.js'></script>
<script src='<%= baseUrl %>/templates/infosite/javascripts/main.js'></script>
<!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script> <![endif]-->

<style type="text/css">
  {{# background-image }}
    .background-image.artwork-container { background-color: white; }
    .background-image.artwork-container {
      background-image:
      url('<%= baseUrl %>/shared/images/grid-06-06.svg'),
      url('{{{ background-image }}}');

      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center center;

      color: white;
      background-color: white;
    }
  {{/ background-image }}
</style>
</head>
<body class="{{darknav}}" data-spy="scroll" data-target=".nav-menu" data-offset="100">
<div class='wrapper'>
  <header class='header' role='banner'>
    <figure class='hero artwork-container {{colormode}} {{artwork-option}} {{#background-image}}background-image{{/background-image}}'>

      {{^background-image}}
      <div id="artwork" class="artwork-animate"></div>
      {{/background-image}}

      <div class='container layer-three'>
        {{#for-emea}}
        <% include ../../shared/images/event-logo-lockup-emea.svg %>
        {{/for-emea}}
        {{^for-emea}}
        <% include ../../shared/images/event-logo-lockup.svg %>
        {{/for-emea}}

        <div class='event-details ' style="color:0;;background-color: transparent;">
          <h3 class="where" >
            {{ dates }}  <strong>{{ city }}</strong>
          </h3>
          {{#register-link }}
          <div class='registration'>
            <a class='button register-button' href='{{{ register-link }}}'>Register</a>
          </div>
          {{/ register-link }}
        </div>
        <a class='rh-logo' href='//www.redhat.com' target='_blank' title='Go to redhat.com'>
          <% include ../../shared/images/rh-logo-include.svg %>
        </a>
      </div>
    </figure>
  </header>
  <button class='nav-toggle'>
    <span></span>
  </button>
  <nav class='nav-menu animated fadeInDown fixed-left-nav-only-medium-break layer-four nav-hide'>
    <div class='container'>
      <ul class="nav">

        <li><a class='menu-link' href='#agenda'>Agenda</a></li>

        {{#section }}
        <li><a class='menu-link' href='#{{ slug }}'>{{ name }}</a></li>
        {{/section}}

        {{#promotion-title}}
        <li><a class='menu-link' href='#fee'>Fee</a></li>
        {{/promotion-title}}
      </ul>
    </div>
  </nav>
  <section class='section-intro'>

    <div class='container'>
      <div class="grid-container">
        <div class='two-thirds first'>
          <h1 class='catch' style="font-size: 150%; line-height: 100%">{{ headline }}</h1><br>
          {{{ intro }}}
        </div>
        <div class='one-third last author-signoff'>
          <div class='intro-author' style="background-image: url('{{{ author-image }}}')">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt='author' />
          </div>
          <p>{{ author-signoff }}</p>
          {{#author-signature}}
          <img src='{{ author-signature }}' alt='author signature' class='author-signature' />
          {{/author-signature}}
          <p class="author-name">{{ author-name }}</p>
          {{#author-position}}
          <p><em>{{ author-position }}</em></p>
          {{/author-position}}
        </div>
      </div>
    </div>
  </section>

  <section class="section-agenda agenda-container main">
    <div class="container">
      <div id="agenda">
        <h1>Agenda</h1>
        {{#days}}
        <input id='{{ day-name }}' name='active-day' type='radio'>
        <label for='{{ day-name }}'>
          {{^day-name-translation}}
          <span>{{ day-name }}</span>
          {{/day-name-translation}}
        </label>
        {{/days}}

        {{#days}}
        <div class="js-agenda-day">
          <div class="agenda-day-info js-agenda-day-info">
            <h2>{{day-name}}</h2>
            <h3>{{date}}</h3>
          </div>
          <div class="time-table time-table-unprocessed js-time-table">
            {{#sessions}}
            {{#start}}
            <div class="agenda-session js-session" data-start="{{ start }}" data-end="{{ end }}">
              <div class="agenda-session-inner {{ type }}">
                <header class="session-header">
                  {{#topic}}
                  <h3 class="agenda-session-header-text">{{ topic }}</h3>
                  {{/topic}}
                  {{#speaker}}
                  <h3 class="agenda-session-header-speaker">{{ speaker }}</h3>
                  {{/speaker}}
                </header>
                <div class="agenda-session-content">
                  {{#location}}
                  <p class="agenda-session-content-location">{{ location }}</p>
                  {{/location}}
                  {{#group}}
                  <p class="agenda-session-content-group">{{ group }}</p>
                  {{/group}}
                </div>
              </div>
            </div>
            {{/start}}
            {{/sessions}}
          </div>
        </div>
        {{/days}}
      </div>
    </div>
  </section>

  {{#section}}
  <section style="background-image: url('{{{ section-background-image }}}')" class='{{treatment}} section-{{ name }} main {{ section-theme }}' id='{{ slug }}'>
    <div class='container section-layout-{{ section-layout }}'>
      {{{ content }}}
    </div>
  </section>
  {{/section}}
  {{#promotion-title}}
  <section class='section-fee main' id='fee'>
    <div class='container'>
      <h1>Fee</h1>
      <div class="grid-container">
        <div class='one-half'>
          <div class='promo-box'>
            <div class='promo-box-title'>
              <h3>{{ promotion-title }}</h3>
            </div>
            <figure class='big-number'>{{ promotion-rate }}</figure>
            <p>
            {{ promotion-savings }}
            </p>
            <div class='promo-box-footer'>
              <a class='button' href='{{ register-link }}' target='_blank'>Register</a>
              by
              <strong>{{ promotion-close-date }}</strong>
            </div>
          </div>
          <p>
          FEES FROM {{ post-promotion-date }} {{ post-promotion-fee }}
          </p>
        </div>
        <div class='one-half'>
          <h2>Inlcudes</h2>
          {{ inclusions }}
        </div>
      </div>
    </div>
  </section>
  {{/promotion-title}}

  <footer style="position:relative; background-color:rgba(20,40,55,0.57)" class='footer   artwork-container {{colormode}} {{artwork-option}}  ' >
    {{#background-image}}<div id="artwork" ></div> {{/background-image}}

    <section class='secondary' style="position:relative;z-index:2; background-color: transparent;">

      <div class='container'>
        <div class="grid-container">
          <ul class='one-half footer-nav-menu'>
            <li>
            <a href='//www.redhat.com/about/' target='_blank'>About Red Hat</a>
            </li>
            <li>
            <a href='//www.redhat.com/legal/privacy_statement.html' target='_blank'>Privacy Policy</a>
            </li>
            <li>
            <a href='//www.redhat.com/legal/legal_statement.html' target='_blank'>Terms of Use</a>
            </li>
          </ul>
          <div class='one-half social-links'>
            <a href='//www.twitter.com/red_hat_apac' target='_blank' class='social-link icon-only icon-twitter'>Twitter</a>
            <a href='//www.facebook.com/RedhatAPAC' target='_blank' class='social-link icon-only icon-facebook'>Facebook</a>
            <a href='//www.youtube.com/user/RedHatVideos' target='_blank' class='social-link icon-only icon-youtube'>Youtube</a>
            <a href='//www.linkedin.com/groups/Red-Hat-Certified-Professionals-in-3124596?mostPopular=&amp;amp;gid=3124596' target='_blank' class='social-link icon-only icon-linkedin'>LinkedIn</a>
          </div>
        </div>
      </div>
    </section>

    <section class='tertiary ' style="background-color: transparent;">
      <div class='container'>
        <p class='copyright'>
        Copyright &copy; 2014 Red Hat, Inc.
        </p>
      </div>
    </section>
  </footer>
</div>

{{#artwork-complexity}}
<script type="text/javascript">
window.redhatArtComplexity = {{ artwork-complexity }};
</script>
{{/artwork-complexity}}

<script src="<%= baseUrl %>/shared/javascripts/artwork.js"></script>
<script src="<%=baseUrl%>/shared/javascripts/vendor/moment.js"></script>
<script src="<%= baseUrl %>/templates/attendee/lanyard/assets/javascripts/agenda.js"></script>
</body>
</html>
