@import '../../../../../node_modules/red-hat-brand-typography/scss/red-hat-typography';
@import '../../../../../node_modules/red-hat-brand-palette/scss/red-hat-palette';

html, :root { font-size: 24pt; }

#content {
  color: white;
  width: 80%;
  
  h1 {
    
  }
  
  #logo-forum {
    width: 50%;
    text-align: left;
  }
}

// Media Queries

@media screen and (max-aspect-ratio: 2/3) {
  // Change to landscape layout 
  
  .canvas-overlay {
    background: red;
  }
}