@import "../../../../../node_modules/red-hat-brand-typography/scss/red-hat-typography";   
@import "../../../../../node_modules/red-hat-brand-palette/scss/red-hat-palette";

#content {
  max-width: none;
  width: 75vmin;
  text-align: center;

  h3 {
    margin-left: 1vmin;
  }
}

.redhat-and-event-logo {
  #content {
    max-width: 40vmax;
    #logo-rh {
      transform: scale(0.9);
    }

    #logo-forum {
      margin-top: 0.5rem;
      margin-left: 0;
      width: 100%;
      transform: none;
    }
  }
}

.fy-and-headline-and-event-logo {
  #content {
    width: calc(100vw - 10vmin);
    text-align: left;

    #logo-forum {
      margin-top: 3vmin;
      margin-left: 2vmin;
      width: 50vmin;
      text-align: left;
    }
  }

  @media screen and (min-aspect-ratio: 2/3) {
    #content {
      height: 80%;
      left: 0;
      top: 0;
      transform: none;
    }
  }
}

@media screen and (min-aspect-ratio: 2/3) {
  .bottom-left {
    width: calc(100vw - 40vmin);
    bottom: 3vmin;

    h2 {
      font-size: 3vw !important;
    }
  }
}