.footer {
  padding: 2em 0;

  background: $black;
  color: $white;
  a { color: $white; }

  ul {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
    margin-bottom: 2em;
  }

  ul.footer-links {
    li {
      margin: 0.5em 0;
    }
  }

  ul.footer-social {
    position: relative;
    top: 50%;
    right: 0;

    li {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      padding: 0 0.5em;

      img { height: 100%; }
    }

    @media screen and (min-width: $breakpoint-medium) {
      &:hover > li {
        opacity: 0.2;
      }

      li {
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}