.footer {
  padding: 2em 0;

  background: $black;
  color: $white;

  a { color: $white; }

  ul {
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (max-width: $breakpoint-small) {
    text-align: center;

    ul:not(:last-child) {
      margin-bottom: 1.5em;
    }

    ul.footer-social {
      float: none !important;
    }
  }

  ul.footer-links {
    li {
      display: inline-block;
      vertical-align: middle;
      padding-right: 0.7em;
      margin-right: 0.5em;
      border-right: 1px solid;

      &:last-child { padding-right: 0.7em; margin-right: 0.5em; border-right: none; }
    }
  }

  ul.footer-social {
    float: right;

    li {
      display: inline-block;
      width: 1em;
      height: 1em;
      text-align: center;
      padding: 0 0.5em;

      img { height: 100%; }
    }

    @media screen and (min-width: $breakpoint-medium) {
      &:hover > li {
        opacity: 0.2;
      }

      li {
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}