body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  background: white;
  height: 200vh;
}

h1 {
  font-size: $font-size-level-one;
  text-transform: uppercase;
}

section {
  padding: 4em 0;

  &:nth-child(2n) { background: $gray-lighter; }
  > .inner-container > *:first-child { margin-top: 0; }
  > .inner-container > *:last-child { margin-bottom: 0; }
}

.inner-container {
  width: 60vw;
  margin: 0 auto;
  padding: 0 1em;

  @media screen and (max-width: $breakpoint-large) { width: 100vw }
}

.logo-forum {
  transform: scale(1.15);
}

.clearfix {
  overflow: auto;
}