@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selection {
  color: white;
  background: $color-shade;
  text-shadow: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background: white;
}

h1, h2, h3, h4, h5, h6, p { margin-bottom: 0.5em; }

h1 {
  font-size: $font-size-level-one;
  font-weight: $font-weight-level-one;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-level-two;
  font-weight: $font-weight-level-two;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  font-size: $font-size-level-three;
  font-weight: $font-weight-level-three;
}

h4 {
  font-size: $font-size-level-four;
  font-weight: $font-weight-level-four;
  text-transform: uppercase;
}

h5 {
  font-size: $font-size-level-five;
  font-weight: $font-weight-level-five;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h6 {
  font-size: $font-size-level-six;
  font-weight: $font-weight-level-six;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  padding: 4em 0;

  &:nth-child(2n) { background: $gray-lighter; }
  > .inner-container > *:first-child { margin-top: 0; }
  > .inner-container > *:last-child { margin-bottom: 0; }
}

.inner-container {
  width: 100vw;
  max-width: $breakpoint-large;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.logo-forum {
  transform: scale(1.15);
}

.clearfix {
  overflow: auto;
}