.hero {
  margin: 0;
  height: calc(100vh - 18em);
  min-height: 24em;
  max-height: 48em;
  position: relative;
  overflow: hidden;
  background: $black;

  > * {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    > * { opacity: 0.75; }
    .hero-content {
      opacity: 1;
      transform: translate(-50%,-50%) translateY(0);
      .hero-reveal { opacity: 1; }
    }
  }

  canvas, .canvas-overlay {
    height: 100% !important;
    width: 100% !important;
  }

  .hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) translateY(5em);
    z-index: 100;

    text-align: center;
    color: $white;

    .logo-forum {
      width: 60%;
    }

    .hero-reveal {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}