.nav {
  width: 100vw;
  background: $white;
  border-bottom: 1px solid $gray-light;
  z-index: 2000;

  &.sticky-nav {
    position: fixed;
    top: 0;

    .nav-logos {
      transform: none;
      opacity: 1;
    }
  }

  @media screen and (max-width: $breakpoint-medium) { 
    text-align: center;
  }

  .nav-logos {
    display: inline-block;
    height: 5em;
    padding: 1em 0;
    box-sizing: border-box;
    transform: translateY(-50%);
    opacity: 0;

    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    img {
      padding: 0 1em;
      height: 100%;

      border-right: 1px solid $gray-light;

      &:last-child { border: none; }
    }
  }

  ul.nav-list {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1.8em 0;
    text-align: right;

    li {
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 1em;

      &.active a { border-bottom: 2px solid $black; }
    }

    a { padding: 0.2em 0; }

    @media screen and (max-width: $breakpoint-medium) { display: none; }
  }
}