.nav {
  width: 100vw;
  background: white;
  border-bottom: 1px solid #cccccc;

  .nav-content {
    overflow: auto;
    width: 60vw;
    margin: 0 auto;
  }

  .nav-logo {
    display: inline-block;
    height: 5em;
    padding: 1em;
    box-sizing: border-box;

    img {
      padding: 0 1em;
      height: 100%;

      border-right: 1px solid #cccccc;

      &:last-child {
        border: none;
      }
    }
  }

  ul.nav-list {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1.6em 0;
    list-style: none;
    text-align: right;

    li {
      font-weight: 600;
      display: inline-block;
      margin: 0 1em;
      padding: 0.2em 0;

      &.active {
        border-bottom: 2px solid #000000;
      }
    }
  }
}