@import '../../../../assets/stylesheets/main.scss';

$max-width: 768px;
$page-margin: $line-height * 2;

@import 'vendor/leaflet';
@import 'helpers/layout_helpers';
@import 'helpers/layout_helper_classes';
@import 'components/circle';
@import 'components/modal';
@import 'components/hamburgler';
@import 'layout/general';
@import 'sections/nav';
@import 'sections/sub_nav';
@import 'sections/hero';
@import 'sections/agenda';
@import 'sections/location';
@import 'sections/speakers';

body.noscroll {
  overflow: hidden;
}
